body {
  padding: 20px;
  background-image: url(beans.jpg);
  font-family: sans-serif;
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  /* padding-left:20px;
  padding-right:20px; */
  padding: 20px;
  width: 80%;
  max-width: 500px;
  /* The current width of the menu will always take up 80% of the body element's width. On a very wide screen, the coffee and dessert appear far apart from their prices.

Add a max-width property to the menu class with a value of 500px to prevent it from growing too wide. */

  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  /* padding:20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px; */
}

/* You can add a fallback value for the font-family by adding another font name separated by a comma. Fallbacks are used in instances where the initial is not found/available.

Add the fallback font serif after the Impact font. */

h1,
h2 {
  /* font-family: Impact; */
  font-family: Impact, serif;
  /*serif; fallback: serif; */
}


.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.bottom-line {
  margin-top: 25px;
}

.flavor,
.dessert {
  text-align: left;
  width: 75%;
}

.established {
  font-style: italic;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.price {
  text-align: right;
  width: 25%
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
  border-width: 1px;
}

/* FOOTER */
footer {
  font-size: 14px;
}

a {
  color: black;
}

/* a:visited{color:grey;}
a:hover{color:brown;}
a:active{color:white;} */
a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.address {
  margin-bottom: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* It would be nice if the vertical space between the h2 elements and their associated icons was smaller. The h2 elements have default top and bottom margin space, so you could change the bottom margin of the h2 elements to say 0 or another number.

There is an easier way, simply add a negative top margin to the img elements to pull them up from their current positions. Negative values are created using a - in front of the value. To complete this project, go ahead and use a negative top margin of 25px in the img type selector. */
  margin-top:-25px;

}
